container_commands:
  01_collectstatic:
    command: "source . /var/app/venv/staging-LQM1lest/bin/activate && /var/app/current/manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: gas_tracker.wsgi:application
  aws:elasticbeanstalk:container:python:staticfiles:
      /static/: static/
